{
    "default_main": VoxelRenderer(
        poisoned: false,
        tick: 11,
        version: ( 
            major: 0,
            minor: 1,
            patch: 0,
        )
    ),
    "other": VoxelRenderer(
        poisoned: false,
        tick: 0,
        version: ( 
            major: 0,
            minor: 1,
            patch: 0,
        )
    )
}